<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="faculty">Faculty</label>
                <select name="faculty" id="faculty" th:field="*{faculty}">
                    <option th:each="faculty: ${allFaculties}"
                            th:value="${faculty}"
                            th:text="${faculty}">Faculty</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Register">
            </div>
        </form>

        <h1>Student List</h1>

        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Faculty</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.getName()}"></td>
                <td th:text="${student.getEmail()}"></td>
                <td th:text="${student.getFaculty().getName()}"></td>
            </tr>
        </table>


    </div>
</body>
</html>