<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Registration</title>
    <style>
        body{
            height: 100vh;
        }

        label {
            font-size: .8rem;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: .775rem;
        }

        .form-control{
            font-size: .8rem;
            padding: .275rem .7rem;
            line-height: 1.5rem;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        /* Modal overlay styling */
        /*.modal-overlay {*/
        /*    display: none; !* Initially hidden *!*/
        /*    position: fixed;*/
        /*    top: 0;*/
        /*    left: 0;*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    background: rgba(0, 0, 0, 0.7); !* Semi-transparent background *!*/
        /*    z-index: 9999;*/
        /*}*/

        /* Modal box styling */
        /*.modal {*/
        /*    position: fixed;*/
        /*    top: 50%;*/
        /*    left: 50%;*/
        /*    transform: translate(-50%, -50%);*/
        /*    background: white;*/
        /*    padding: 20px;*/
        /*    width: 300px;*/
        /*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
        /*    border-radius: 8px;*/
        /*    z-index: 10000;*/
        /*}*/

    </style>
</head>
<body class="d-flex flex-column justify-content-between min-vh-100 bg-light">
    <!-- Centered form -->
    <div class="container my-auto d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card border border-light-subtle rounded-3 shadow-sm">
                <div class="card-body p-1" style="height: 100%;">
                    <h5 class="fs-6 fw-normal text-center text-secondary my-3">Register</h5>
                    <form action="/register" method="POST">
                        <div class="row" style="margin: 0;">
                            <!-- Form fields -->
                            <div class="col-12">
                                <div class="form-floating mb-1">
                                    <label for="name" class="form-label">Fullname</label>
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Fullname" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-1">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="xxx@gmail.com" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-1">
                                    <label for="faculty">Faculty</label>
                                    <select name="faculty" id="faculty" class="form-control">
                                        <option th:each="faculty: ${allFaculties}"
                                                th:value="${faculty}"
                                                th:text="${faculty}">Faculty</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-grid my-3">
                                    <button class="btn btn-primary btn-sm" type="submit">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="table" class="container my-auto">
        <!-- table view -->
        <h4>Student List</h4>
        <table>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Faculty</th>
                <th></th>
            </tr>
            <tr th:each="student,rowStat : *{students}">
                <td th:text="${rowStat.count} + ((${currPage} == 0 ? 0:${currPage})*3)"></td>
                <td th:text="${student.getId()}"></td>
                <td th:text="${student.getName()}"></td>
                <td th:text="${student.getEmail()}"></td>
                <td th:text="${student.getFaculty().getName()}"></td>
                <td>
<!--                    <input type="button" id="edit" value="Edit" data-target="#exampleModalCenter">-->
                    <button type="button" id="edit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit</button>
                    <!--                    <input type="button" id="delete" value="Delete">-->
                    <a th:href="@{/student/{id}(id=${student.getId()})}">
                        <button type="button">Delete</button>
                    </a>
                </td>
            </tr>
        </table>
        <span class="pages" th:each="i: ${#numbers.sequence(1, pageNumbers)}" th:if="${pageNumbers} != 0">
            <a th:href="@{/register(page=${i})}" th:text="${i}" ></a>
        </span>
    </div>
    <!-- modal    -->
<!--    <div class="modal-overlay" id="modal-overlay">-->
<!--        <div id="modal" class="modal">-->
<!--            <div class="modal-content">-->
<!--                <form id="formUpdated" action="#" method="post">-->
<!--                    <div class="form-group">-->
<!--                        <label for="name">Full Name</label>-->
<!--                        <input type="text" id="editName" name="editName" required>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="email">Email</label>-->
<!--                        <input type="email" id="editEmail" name="editEmail" required>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="faculty">Faculty</label>-->
<!--                        <select name="editFaculty" id="editFaculty">-->
<!--                            <option th:each="faculty: ${allFaculties}"-->
<!--                                    th:value="${faculty}"-->
<!--                                    th:text="${faculty}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="submit" value="Update">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Modal -->
    <div class="modal modal-overlay fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formUpdated" action="#" method="post">
                        <div class="col-12">
                            <div class="form-floating mb-1">
                                <label for="name" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="editName" name="editName" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-1">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="editEmail" name="editEmail" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-1">
                                <label for="faculty" class="form-label">Faculty</label>
                                <select name="editFaculty" id="editFaculty" class="form-control">
                                    <option th:each="faculty: ${allFaculties}"
                                            th:value="${faculty}"
                                            th:text="${faculty}"></option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="updateButton" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</body>
<!--jquery via cdn-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
        $(document).ready(function () {
            $('.modal-overlay').hide();


            $('#table button[type=button]#edit').click(function (event) {
                $('.modal-overlay').show();

                let idUpdated = $(this).closest("tr").find("td:eq(1)").text();
                let nameUpdated = $(this).closest("tr").find("td:eq(2)").text();
                let emailUpdated = $(this).closest("tr").find("td:eq(3)").text();
                let facultyUpdated = $(this).closest("tr").find("td:eq(4)").text();

                let defaultVal = ''.concat('select option:contains(\'', facultyUpdated, '\')');

                $('.modal-overlay '.concat(defaultVal)).prop('selected',true);
                $('.modal-overlay input[id="editName"]').prop("value", nameUpdated);
                $('.modal-overlay input[id="editEmail"]').prop("value", emailUpdated);

                $('#updateButton').click(function (event) {

                    console.log("updating...");
                    let newAction = "/register/" + idUpdated.toString();

                    $('#formUpdated').attr('action', newAction);

                    $('#formUpdated').off('submit').submit();

                });

            });
            <!--            $('.container input[type=button]#delete').click(function(events) {-->
<!--                let idDeleted = $(this).closest("tr").find("td:eq(1)").text();-->

<!--                //get the curr row-->
<!--                let context = $(this).closest("tr");-->
<!--                let tableContext = context.each(function (index) {-->
<!--                    $(this).find()-->
<!--                })-->
<!--                $.ajax({-->
<!--                    url: "/student/"+ idDeleted,-->
<!--                    method: "DELETE",-->
<!--                    success: function(result){-->
<!--                        location.reload(true);-->
<!--                        console.log("success");-->
<!--                    },-->
<!--                    error: function(result){-->
<!--                        console.log("errors: ", result)-->
<!--                    }-->

<!--                });-->
<!--            });-->



            $('body').click(function (event) {
                if($('.modal-overlay').is(':visible')){
                    if (!$(event.target).is('.container input[type=button]') && !$(event.target).closest('.modal').length) {
                        $(".modal-overlay").hide();
                    }
                }

            });



        })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>